<h1>All my orders</h1>
<div>
  <%= simple_form_for(@payment) do |f| %>
    <ul>
      <%= f.input_field :total_price %>
      <% @orders.each do |order| %>
        <li>
          <%= order %>
        </li>
      <% end %>
    </ul>

    <%= f.submit 'Checkout and pay' %>
  <% end %>
</div>

<!--
<form action="">
  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">

  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">

  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">
</form>
 -->
