<h1>My Cart</h1>
<div>
  <%= render @orders  %>
</div>
<br>
<div class="container">
  <div class="row justify-content-between">
    <div class="col">
      <h3><strong>Total Price: <%= @total_price %></strong></h3>
    </div>
    <div class="col text-right">
      <%= simple_form_for(@payment) do |f| %>
        <%= f.submit 'Checkout and pay', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<!--
<form action="">
  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">

  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">

  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">
</form>
 -->
