<h1>Welcome to Aunty's Market</h1>
<h3><em>Buy and sell your extra ingredients with ease!</em></h3>

<% @listings.each do |listing| %>
  <div class="p-3">
    <%= render 'shared/card', listing: listing %>
  </div>
<% end %>
