<div class='banner text-center'>
  <h1><strong> Welcome to Aunty's Market</strong></h1>
  <h3>Buy and sell your extra ingredients with ease!</h3>
</div>

<div class="container card-trip p-3" id="search_anchor">
  <h1>Listings near you</h1>
  <div class="grid p-3">
    <!-- TODO: filter by distance  -->
    <!-- TODO: collapsible with a View More button  -->
    <%= render partial: 'shared/listing', collection: @listings %>
  </div>
</div>

<div class="container card-trip p-3">
  <h1>Fresh Arrivals</h1>
  <div class="grid p-3">
    <!-- TODO: collapsible with a View More button  -->
    <%= render partial: 'shared/listing', collection: @listings %>
  </div>
</div>
