<% content_for :navbar do %>
  <div class='banner text-center'>
    <h1><strong> Welcome to Aunty's Market</strong></h1>
    <h3>Buy and sell your extra ingredients with ease!</h3>
  </div>
<% end %>

<h2>Listings near you</h2>
<div class="grid-container">
  <div class="row">
      <%= render partial: 'shared/listing', collection: @listings %>
  </div>
  <!-- TODO: filter by distance  -->
  <!-- TODO: collapsible with a View More button  -->
</div>

<h2>New Listings</h2>
<div class="grid-container">
  <div class="row">
      <%= render partial: 'shared/listing', collection: @listings %>
  </div>
  <!-- TODO: filter by distance  -->
  <!-- TODO: collapsible with a View More button  -->
</div>
