.banner {
  background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(0,0,0,0.5)), asset-url('market.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  padding-top: 40vh;
}
